<div class="file_list_container">
  <table class="file_list pure-table">
    <thead>
      <tr>
        <th>File</th>
        <th>Lines</th>
        <th>Lines of Code</th>
        <th>Churns</th>
        <th>Smells</th>
        <th>Complexity</th>
        <th>Complexity/Method</th>
      </tr>
    </thead>
    <tbody>
      <% stats.each do |stat| %>
      <tr>
        <td><%= link_to_source_file(stat) %></td>
        <td><%= stat.lines.count %></td>
        <td><%= stat.lines_of_code %></td>
        <td><%= stat.churns %></td>
        <td><%= stat.smells.count %></td>
        <td><%= stat.complexity %></td>
        <td><%= stat.complexity_per_method %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
