<div class="source_table" id="<%= id(stat) %>">
  <div class="header">
    <h2 class="subhead"><%= stat.name %></h2>
  </div>

  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li class="pure-menu-selected"><a class="toggle-smells" href="#">Smell View</a></li>
        <li><a class="toggle-source" href="#">Source View</a></li>
    </ul>
  </div>

  <div class="smell-view">
    <ul>
      <% stat.smells.each do |smell| %>
        <% if smell[:type] == "ComplexClass" %>
          <li>
            <span class="smell">Complex class</span>
            <span class="smell-complexity">(complexity <%= stat.complexity %>)</span>
          </li>
        <% elsif  smell[:type] == "ComplexClassDefinition" %>
          <li>
            <span class="smell">Complex</span> code in
            <span class="method"><%= stat.name %></span> definition outside of methods
            <span class="smell-complexity">(complexity <%= stat.definition_complexity %>)</span>
          </li>
        <% elsif smell[:type] == "ComplexMethod" %>
          <li>
            <span class="smell">Complex method</span>
            <span class="smell-name"><%= smell[:method].name %></span>
            <span class="smell-complexity">(complexity <%= smell[:method].complexity %>)</span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="source-view" style="display: none;">
    <pre>
      <p><%= stat.file %></p>
      <ol>
        <% stat.lines.each do |number, line| %>
          <li class="<%= line_status(stat, number) %>" data-linenumber="<%= number %>">
            <code class="ruby"><%= CGI.escapeHTML(line.chomp) %></code>
          </li>
        <% end %>
      </ol>
    </pre>
  </div>
</div>
